<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Book Example</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Добавить издателя</h2>
    <div>
        <form class="form-horizontal" method="get" action="/save-publisher">
            <div class="form-group">
                <label class="col-sm-2 control-label" >Имя издателя</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="publisherName"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <span th:text="${error?.error}" style="color: red"></span>
        </form>
    </div>
</div>

</body>
</html>
